# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcuserdatad/
*.xccheckout
*.moved-aside
*.xcuserstate

# Swift Package Manager
/.build
/Packages

# CocoaPods
/Pods

# Carthage
/Carthage/Build

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# User-specific
*.swp
*.swm
.DS_Store
